.baseInput {
    width: 100%;
    display: inline-block;

    input {
        width: 100%;
        padding: 12px 0px;
        display: inline-block;
        outline: none;
        background-color: inherit;
        color: inherit;
        border: none;
    }
}

.searchInput {
    display: flex;
    gap: 1rem;
    padding: 0 1rem;
    justify-content: center;
    align-items: center;
    background-color: var(--color-light-grey);
    border-radius: 0.5rem;
}