:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */
  color: #213547;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-light-grey: #f5f5f5;
  --color-primary: #feffff;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
} */


.flex {
  display: flex;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.center {
  justify-content: center;
  align-items: center;
}

.center-v {
  align-items: center;
}

.center-h {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.end {
  justify-content: flex-end;
}

.flex1 {
  flex: 1;
}

.click {
  cursor: pointer;
}